@import "tailwindcss";
@theme {
  --color-special-700 : #7164c0
}
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
body {
    font-family: 'Poppins';
  }
